In [2]:
import os
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
fuel_raw = pd.read_csv('../data/processed/pengisian_fuel.csv')

fuel_raw

,code_unit,EGI,tipe,date,hour,SLOC,amount,Hm,Consumption
0,EX41,EGI 37,day,2022-01-01,NaN,NaN,NaN,NaN,NaN
1,EX41,EGI 37,night,2022-01-01,NaN,NaN,NaN,NaN,NaN
2,EX41,EGI 37,day,2022-01-02,12:24:00,CN403,1166.0,22715,NaN
3,EX41,EGI 37,night,2022-01-02,23:48:00,CN403,1196.0,22726,NaN
4,EX41,EGI 37,day,2022-01-03,12:30:00,CN403,788.0,22734,NaN
...,...,...,...,...,...,...,...,...,...
5103,EX44,EGI 87,night,2022-12-29,NaN,NaN,NaN,NaN,NaN
5104,EX44,EGI 87,day,2022-12-30,NaN,NaN,NaN,NaN,NaN
5105,EX44,EGI 87,night,2022-12-30,NaN,NaN,NaN,NaN,NaN
5106,EX44,EGI 87,day,2022-12-31,NaN,NaN,NaN,NaN,NaN
5107,EX44,EGI 87,night,2022-12-31,NaN,NaN,NaN,NaN,NaN

In [5]:
fuel_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5108 entries, 0 to 5107
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code_unit    5108 non-null   object
 1   EGI          5108 non-null   object
 2   tipe         5108 non-null   object
 3   date         5108 non-null   object
 4   hour         2522 non-null   object
 5   SLOC         2522 non-null   object
 6   amount       2522 non-null   float64
 7   Hm           2503 non-null   object
 8   Consumption  133 non-null    float64
dtypes: float64(2), object(7)
memory usage: 359.3+ KB

In [6]:
fuel_raw['Hm'] = fuel_raw['Hm'].replace('eror', np.nan).astype(float)

In [41]:
df_dict = {name: group for name, group in fuel_raw.groupby('code_unit')}

In [16]:
for item in df_dict.values():
      item = item.groupby(['code_unit', 'date']).agg({'amount': np.sum,
                                                      'Hm': np.max,
                                                      'Consumption':np.sum})

In [17]:
df_dict = {key: value.groupby(['code_unit', 'date']).agg({'amount': np.sum,
                                                      'Hm': np.max,
                                                      'Consumption':np.sum}).reset_index() for key, value in df_dict.items()}

In [38]:
for key in df_dict.keys():
      df_dict[key]['Hm1'] = df_dict[key]['Hm'].shift(-1)

In [39]:
for key in df_dict.keys():
      df_dict[key]['HM_Calculation'] = df_dict[key]['Hm'] - df_dict[key]['Hm1']

In [43]:
df_dict['EX41'].to_clipboard()