In [7]:
import pandas as pd
import numpy as np

In [3]:
raw = pd.read_excel('../data/raw/Data Fuel.xlsx')

raw.sample(10)

,Plant,Material,Material Description,Storage Location,Movement Type,Movement Type Text,Material Document,Item,Posting Date,Document Date,Qty in Un. of Entry,Unit of Entry,Order,Document Header Text,
1575,E,FU00100001,SOLAR INDUSTRI,6800,261,GI for order,4900149943,11,2021-07-05,2021-07-05,-1163,L,EX42,SHIFT 2,NaN
648,E,FU00100001,SOLAR INDUSTRI,6600,261,GI for order,4900198449,15,2022-02-28,2022-02-28,-948,L,EX43,SHIFT 1,NaN
1640,E,FU00100001,SOLAR INDUSTRI,6200,261,GI for order,4900154386,13,2021-08-01,2021-08-01,-1259,L,EX42,SHIFT 1,NaN
528,E,FU00100001,SOLAR INDUSTRI,6600,261,GI for order,4900177811,14,2021-11-21,2021-11-21,-959,L,EX43,SHIFT 1,NaN
1292,E,FU00100001,SOLAR INDUSTRI,6200,261,GI for order,4900124264,0,2021-01-01,2021-01-01,-1213,L,EX42,SHIFT 2,NaN
2109,E,FU00100001,SOLAR INDUSTRI,6600,261,GI for order,4900221419,14,2022-06-11,2022-06-11,-470,L,EX42,SHIFT 2,NaN
1848,E,FU00100001,SOLAR INDUSTRI,6200,261,GI for order,4900192104,13,2022-01-26,2022-01-26,-1104,L,EX42,SHIFT 1,NaN
1200,E,FU00100001,SOLAR INDUSTRI,7000,261,GI for order,4900273310,17,2022-12-21,2022-12-21,-1053,L,EX43,SHIFT 1,NaN
1757,E,FU00100001,SOLAR INDUSTRI,6200,261,GI for order,4900178149,13,2021-11-22,2021-11-22,-823,L,EX42,SHIFT 2,NaN
611,E,FU00100001,SOLAR INDUSTRI,6600,261,GI for order,4900192490,13,2022-01-27,2022-01-27,-667,L,EX43,SHIFT 1,NaN

In [5]:
fuel = raw[['Posting Date', 'Order', 'Qty in Un. of Entry']].copy()

In [11]:
df_fuel = fuel.groupby(['Posting Date', 'Order']).agg({'Qty in Un. of Entry':np.sum}).reset_index()

In [14]:
df_fuel.rename(columns={"Qty in Un. of Entry":"Amount"}, inplace=True)

In [16]:
df_fuel.rename(columns={"Order":"code_unit"}, inplace=True)

In [24]:
df_fuel[(df_fuel['Posting Date'] == '2022-01-08') & (df_fuel['code_unit']=='EX42')]

    Posting Date code_unit  Amount
643   2022-01-08      EX42   -1823