In [1]:
import pandas as pd
import numpy as np

In [26]:
pengisian_fuel = pd.read_csv('../data/processed/pengisian_fuel.csv')

pengisian_fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5108 entries, 0 to 5107
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code_unit    5108 non-null   object
 1   EGI          5108 non-null   object
 2   tipe         5108 non-null   object
 3   date         5108 non-null   object
 4   hour         2522 non-null   object
 5   SLOC         2522 non-null   object
 6   amount       2522 non-null   float64
 7   Hm           2503 non-null   object
 8   Consumption  133 non-null    float64
dtypes: float64(2), object(7)
memory usage: 359.3+ KB

In [3]:
ritase_ex42 = pd.read_csv("../data/processed/ritase_ex42_agregated.csv.xls")
ritase_ex44 = pd.read_csv("../data/processed/ritase_ex44_agregated.csv.xls")

In [4]:
data_produksi = pd.read_excel('../data/raw/Produksi EX41 dan EX43.ods')

In [5]:
pengisian_fuel['Hm'] = pengisian_fuel['Hm'].replace('eror','nan').astype(float)

In [6]:
pengisian_fuel_final = pengisian_fuel.groupby(['code_unit',
                                                'EGI',
                                                'date',
                                                'SLOC'])[['amount', 'Hm','Consumption']].sum().reset_index()

In [28]:
pengisian_fuel_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1664 entries, 0 to 1663
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code_unit    1664 non-null   object
 1   EGI          1664 non-null   object
 2   date         1664 non-null   object
 3   SLOC         1664 non-null   object
 4   amount       1664 non-null   float64
 5   Hm           1664 non-null   float64
 6   Consumption  1664 non-null   float64
dtypes: float64(3), object(4)
memory usage: 91.1+ KB

In [7]:
ritase_ex42['code_unit'] = 'EX42'
ritase_ex44['code_unit'] = 'EX44'

In [8]:
pengisian_fuel_final

     code_unit     EGI        date   SLOC  amount       Hm  Consumption
0         EX41  EGI 37  2022-01-02  CN403  2362.0  45441.0          0.0
1         EX41  EGI 37  2022-01-03  CN403  1961.0  45480.0          0.0
2         EX41  EGI 37  2022-01-04  CN403  1950.0  45523.0          0.0
3         EX41  EGI 37  2022-01-05  CN403  1744.0  45566.0          0.0
4         EX41  EGI 37  2022-01-06  CN403  1060.0  22797.0          0.0
...        ...     ...         ...    ...     ...      ...          ...
1659      EX44  EGI 87  2022-12-27  CN403  1137.0  50427.0          0.0
1660      EX44  EGI 87  2022-12-28  CN403  2061.0  50463.0          0.0
1661      EX44  EGI 87  2022-12-29  CN403  1524.0  50499.0          0.0
1662      EX44  EGI 87  2022-12-30  CN403  2091.0  50535.0          0.0
1663      EX44  EGI 87  2022-12-31  CN403  1052.0  25284.0          0.0

[1664 rows x 7 columns]

In [9]:
data_ritase = pd.concat([ritase_ex42, ritase_ex44], axis = 0, ignore_index=True)

In [13]:
data_produksi.rename(columns={'Eq. Numb':'code_unit'}, inplace=True)

In [23]:
data_produksi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718 entries, 0 to 717
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           718 non-null    datetime64[ns]
 1   code_unit      718 non-null    object
 2   EGI            718 non-null    object
 3   HM             718 non-null    float64
 4   Production OB  718 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 28.2+ KB

In [24]:
data_produksi['date'] = data_produksi['date'].astype(str)

In [15]:
data_final = pd.merge(pengisian_fuel_final,data_ritase,
                        how='left', on = ['date', 'code_unit'])

In [30]:
data_final = pd.merge(data_final,
                        data_produksi, how='left', on = ['date', 'code_unit'])

In [36]:
data_final.to_csv('../data/processed/data_final_join.csv',
                  sep = ';',
                  index=False)